.dog_info_wrap {
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
    
}

.dog_info_wrap h2 {
    font-weight: lighter;
    font-size: 2rem;
    color: #262626;
    margin-top: 7rem;
    margin-left: 7rem;
    width: fit-content;
}

.dog_info_card {
    display: flex;
    justify-content: space-between;
    margin: 10px 5rem;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);

}


.dog_info_wrap div img {
    border-radius: 20px;
}

.dog_data_holder {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F0F0F0;
    border: 20px;
    width: 90%;
    margin: 25px 25px;
    border-radius: 20px;
}

.dog_data_holder article {
    background-color: #6BBBC6;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding: 10px;
    font-size: 1.2rem;
}

@media screen and (max-width: 500px) {

    .dog_info_wrap h2 {
        text-align: center;
        margin: 10px auto;
        margin-top: 40px;
    }

    .dog_info_card {
        flex-direction: column;
        margin: 20px 10px;
        align-items: center;
    }

    .dog_info_wrap div img {
        width: 90%;
        height: auto;
    }

}