* {
    font-family: 'Avenir Book';
}

.search_header {
    width: 100%;
    height: 70vh;
    background-image: url('../images/dogpark.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-bottom: 3px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.search_header h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.searchbox_container {
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.searchbox_container select {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.22);
    font-size: 1rem;
}

.searchbox_container select:focus {
    outline: none;
    box-shadow: 0 0 3px 3px #80dce88e;

}

.searchbox {
    display: flex;
}

.searchbox input {
    padding: 0.8rem 0;
    width: 35vw;
    padding-left: 2vw;
    border: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}

.searchbox input:focus {
    outline: none;
    box-shadow: 0 0 3px 3px #80dce88e;
}

.searchbox aside {
    width: 50px;
    height: 50px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.search_result_container {
    width: 90vw;
    height: fit-content;
    margin: 5vh 5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.search_result_container header {
    width: 100%;
    margin: 20px 0;
}

.search_result_container header h2 {
    width: 20%;
    margin-left: 50px;
    border-bottom: 5px solid #80DCE8;
    color: #262626;
    font-size: 2rem;
}

.result_card {
    font-family: 'Avenir Book';
    display: flex;
    align-items: center;
    margin-top: 2vh;
    gap: 15px;
    cursor: pointer;
}

.result_card:hover {
    transform: scale(1.02);
}

.result_card article {
    background-color: white;
    color: #262626;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    height: 60px;
    width: 400px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.result_card aside {
    height: 60px;
    width: 120px;
    background-color: #80DCE8;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

.present {
    color: #29C735;
}

.absent {
    color: red;
}