* {
    font-family: 'Avenir Book';
}

.search_header {
    width: 100%;
    height: 70vh;
    background-image: url('../images/dogpark.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    border-bottom: 3px solid white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.search_header h2 {
    margin-top: 2rem;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.searchbox_container {
    width: 60%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.searchbox_container select {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
    font-size: 1rem;
}

.searchbox_container select:focus {
    outline: none;
    box-shadow: 0 0 3px 3px #80dce88e;

}

.searchbox {
    display: flex;
}

.searchbox input {
    padding: 0.8rem 0;
    width: 35vw;
    padding-left: 2vw;
    border: none;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.6);
    font-size: 1rem;
}

.searchbox input:focus {
    outline: none;
    box-shadow: 0 0 3px 3px #80dce88e;
}

.searchbox aside {
    width: 50px;
    height: 50px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.5);
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}
